@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    src: url("DancingScript-Medium.ttf");
}

body {
    background-color: #6d6464;
}

h1 {
    color: #f1f1f1;
    font-family: "Dancing Script", sans-serif;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}