@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    src: url("DancingScript-Medium.ttf");
}

@font-face {
    font-family: 'Stencil';
    font-style: normal;
    src: url("Stencil.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    src: url("Oswald-Regular.ttf");
}

body {
    background-color: #6d6464;
}

h1 {
    color: #f1f1f1;
    font-family: "Dancing Script", sans-serif;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 30px;
    background-color: purple;
    box-shadow: none;
    border-radius: 10px;
    font-family: "Stencil", sans-serif;
    font-size: 24px;
}

h2 {
    font-family: Oswald, sans-serif;
}